.Input {
  &__input {
    border-radius: 50px;
    border: 1px solid #cfcfcf;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    outline: none;
    transition: 0.2s;
  }

  &__label {
    text-align: center;
    display: block;
    padding-bottom: 6px;
  }
}