.Button {
  border-radius: 50px;
  background-color: green;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  padding: 12px;
  transition: all 0.2s;

  &:hover {
    transition: all 0.2s;
    opacity: 0.8;
  }

  &__text {
    color: white;
    font-weight: bold;
  }
}