.ChatScreen {
  background-image: url('../../assets/chat-bg.png');
  width: 800px;
  height: 500px;
  background-color: #efeae2;
  display: flex;
  flex-direction: column-reverse;
  background-repeat: repeat;
  position: relative;
  
  @media (max-width: 1000px) {
    width: 100%;
    height: 100vh;
  }

  &__field {
    background-color: #f0f2f5;
    display: flex;
    padding: 5px 8px 15px;
    align-items: center;
    justify-content: center;
  }

  &__input {
    width: 100%;
    margin-right: 16px;
  }

  &__send-button {
    width: 45px;
    cursor: pointer;
    display: block;
    height: 28px;
    background-color: inherit;
    border: none;
  }

  &__send-image {
    width: 30px;
    height: 30px;
    opacity: 0.5;
  }

  &__messages-container {
    padding: 60px 0 20px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__header {
    width: 100%;
    height: 50px;
    background-color: #f0f2f5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
  }

  &__header-pfp-icon {
    height: 40px;
    width: 40px;
    background-color: #7fb25b;
    border-radius: 50%;
    margin-right: 14px;
  }

  &__header-phone-number {
    font-size: 14px;
  }
}