.LoginScreen {
  width: 300px;
  text-align: center;
  position: relative;
  z-index: 1;

  &__field {
    margin-bottom: 20px;
  }

  &__field-phone {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.2s;

    &_opened {
      height: 80px;
      opacity: 1;
      transition: all 0.2s;
    }
  }

  &__error-text {
    color: red;
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
  }
}