.Message {
  width: 100%;
  display: flex;
  position: relative;

  &_fromMe {
    flex-direction: row-reverse;
  }

  &__content {
    background-color: white;
    padding: 6px 7px 8px 9px;
    border-radius: 7.5px;
    max-width: 75%;
    box-shadow: 0 1px 0.5px rgba(11,20,26,.13);
    margin: 0 20px 2px;
    width: fit-content;

    &_fromMe {
      background-color: #d9fdd3;
    }
  }

  &__tail {
    position: absolute;
    top: 0;
    z-index: 50;
    display: block;
    width: 34px;
    height: 16px;
    right: -6px;

    background-image: linear-gradient(to bottom right, #d9fdd3 50%, transparent 0);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left, right;

    &_left {
      left: 7px;
      background-image: linear-gradient(to bottom left, #fff 50%, transparent 0);
    }
  }
}